* {
    box-sizing: border-box;
}

html,body {
    margin: 0;        
    height: 100%;
}

body {
    background-color: #b2c7d9;
    overflow-x: hidden;
    font-family: 'Gothic A1', sans-serif;
    padding-top: 36px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
}

i {
    cursor: pointer;
}

.chatting_date,
.chatting_friend_name,
.chatting_time {
    font-size: 11px;
}

.chatting_navbar {
    position: fixed;
    width: 100%;
    top: 0;    
    background-color: #a9bdce;
    padding: 8px 10px;
}

.chatting_navbar_section {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.chatting_navbar_title {
    margin-left: 25px;
}

.chatting_navbar_icon {    
    margin: 0;
}

.chatting_navbar_icon {
    display: flex;
}

.chatting_navbar_search {
    margin-right: 10px;
}

.chatting_main_container {
    padding-bottom: 80px;
    margin: 0 10px;
}

.chatting_menu {
    display: none;
    flex-direction: row-reverse; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;         
    background-color: rgba(0,0,0,0.4);
    font-weight: 600; 
}

.chatting_menu_content {
    position: fixed;
    top: 0;    
    right: -100%;
    transition: all 300ms ease;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    background-color: #a9bdce;     
}

.menu_background_show{
    display: flex;
}

.menu_contents_show {        
    right: 0;
}

.chatting_menu_list {
    padding: 10px; 
}

.chatting_menu_profile {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.chatting_menu_profile img {
    border-radius: 10px;
    margin-right: 10px;
}

.chatting_menu_icons_container {
    display: flex;
    justify-content: space-between;  
    background-color: #b2c7d9;
    border-top: gray solid 1px;
    padding: 10px;     
}

.chatting_menu_icon {    
    display: flex;
    
}

.chatting_menu_icon li {
    margin-left: 13px;
}

.chatting_date {
    margin: 10px 0;
}

.chatting_friend {
    margin-bottom: 10px;
}

.chatting_friend_image img,
.chatting_menu_profile img {
    width: 32px;
    height: 32px;
    border-radius: 40%;
}

.chatting_friend_name {
    margin-bottom: 5px;
}

.chatting_freind_contents {
    margin: 0 5px;
}

.chatting_friend_talk_section img {
    width: 100%;
}

.chatting_date {
    text-align: center;
}

.chatting_friend {
    display: flex;    
}

.chatting_friend_talk {    
    background-color: #ffff;
}

.chatting_friend_header {
    border-radius: 8px 8px 0 0;
    padding: 8px 8px;
    background-color: #ffe500;
    font-weight: 600;
}

.chatting_friend_talk,
.chatting_me_talk {
    border-radius: 8px;
}

.chatting_friend_talk_section,
.chatting_me_talk {
    max-width: 240px;
    padding: 8px 8px;       
}

.chatting_time {
    display: flex;
    align-items: flex-end;    
}

.chatting_me {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}

.chatting_me_talk {
    margin-left: 5px;
    background-color: #ffe500;
}

.chatting_footer {
    width: 100%;
    position: fixed;
    bottom: 0;    
}

.chatting_questions_container {
    background-color: #ffff;
    border-radius: 10px 10px 0 0;    
    padding: 0 8px 10px 10px;
    transition: all 300ms ease;
    transform: translateY(145px);
}

.chatting_questions_container:hover {
    transform: translateY(0);
}

.chatting_questions_bar {
    text-align: center;
    color: gray;
}

.chatting_questions_list li {
    margin-top: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: all 100ms ease;
}

.chatting_questions_list li:hover {
    background-color: #c5cad4;
    border-radius: 5px;
}

.chatting_footer_chat_section {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background: #a9bdce;
}

.chatting_chat_add {
    margin-right: 5px;
    color: gray;
}

.chatting_chat {
    width: 100%;
    border: 1px solid;
    border-radius: 5px;    
    color: gray;
    margin: 5px 0;
}
